Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

###### Below are a few examples of evaluating arithmetic expressions in Python.

In [31]:
#Addition: 
5+10

15

In [21]:
#Subtraction:
10-5

5

In [22]:
#Multiplication:
10*5

50

In [23]:
#Division:
25/5

5.0

In [24]:
#Modulus:
9%4

1

In [25]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [26]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science (e.g., Python, R, SQL)
- List commonly used libraries for Data Science (e.g., Pandas, NumPy, Matplotlib)
- Understand and work with basic arithmetic operations (e.g., addition, multiplication)
- Convert time units (e.g., convert 200 minutes to hours)
- Learn about Data Science tools and environments (e.g., Jupyter Notebook, RStudio)

## Author

Bairugani Anusha Reddy